##
# (c) 2021-2025
#     Cloud Ops Works LLC - https://cloudops.works/
#     Find us on:
#       GitHub: https://github.com/cloudopsworks
#       WebSite: https://cloudops.works
#     Distributed Under Apache v2.0 License
#
name: Checkov
on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - main
      - master
      - develop
    paths:
      - .github/workflows/checkov.yml
      - '**/*.tf'
      - '**/*.tfvars'
      - '**/terraform.tfvars'

jobs:
  checkov:
    name: checkov
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Determine Checkov checks
        id: checkov-checks
        run: |
          if [ -f ".cloudopsworks/.provider" ]; then
            PROVIDER=$(cat .cloudopsworks/.provider | tr -d '\n' | tr -d '\r')
            case $PROVIDER in
              aws)
                echo "checks=CKV_AWS_*,CKV2_AWS_*" >> $GITHUB_OUTPUT
                ;;
              gcp)
                echo "checks=CKV_GCP_*,CKV2_GCP_*" >> $GITHUB_OUTPUT
                ;;
              azurerm)
                echo "checks=CKV_AZURE_*,CKV2_AZURE_*,CKV2_ADO_*" >> $GITHUB_OUTPUT
                ;;
              *)
                echo "checks=CKV_AWS_*" >> $GITHUB_OUTPUT
                ;;
            esac
          else
            echo "checks=CKV_AWS_*" >> $GITHUB_OUTPUT
          fi

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          framework: terraform
          output_format: cli,sarif
          output_file_path: checkov_results.txt,checkov_results.sarif
          check: ${{ steps.checkov-checks.outputs.checks }}
          download_external_modules: true

      - name: Upload Checkov results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: checkov-results
          path: checkov_results.txt

      - name: Upload SARIF file
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: checkov_results.sarif
